.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  width: 100vw;
  height: 1000vh;
  margin: 20px;

  border-radius: 50px;

  background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 100%) 0%,
  hsl(34deg 86% 97%) 22%,
  hsl(34deg 83% 93%) 33%,
  hsl(35deg 82% 90%) 42%,
  hsl(35deg 80% 87%) 50%,
  hsl(36deg 78% 83%) 58%,
  hsl(36deg 76% 80%) 67%,
  hsl(37deg 74% 76%) 78%,
  hsl(37deg 73% 73%) 100%
);

display: flex;
justify-content: center;
align-items: center;

}
